<div class="work-container">
    <div class="workspace-head">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li class="is-active"><a href="#" aria-current="page">Dashboard</a></li>
            </ul>
        </nav>
    </div>
    <div class="workspace-main">dashboard-main</div>
    <div class="workspace-footer">dashboard-foot</div>
</div>