<section class="section">
    <div class="container">
        <div class="static">
            <nav class="navbar navbar-fixed-top">
                <div class="pull-left">
                    <div class="nav-header pull-left">
                        <div class="logo-wrap">
                            <a routerLink="/">
                                <img class="brand-img" src="http://vid.iplay.one/assets/img/logo_admin.png" alt="vid.iplay.one">
                            </a>
                        </div>
                    </div>
                </div>
                <label for="nav-trigger" class="">
                    <svg aria-hidden="true" data-prefix="fal" data-icon="beer" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-beer fa-w-14" style="font-size: 64px;height: 45px;"><path fill="currentColor" d="M384 96h-32V80c0-26.51-21.49-48-48-48H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h256c26.51 0 48-21.49 48-48v-22.112l60.621-30.311C434.443 368.666 448 346.731 448 322.334V160c0-35.29-28.71-64-64-64zm-64 336c0 8.822-7.178 16-16 16H48c-8.822 0-16-7.178-16-16V80c0-8.822 7.178-16 16-16h256c8.822 0 16 7.178 16 16v352zm96-109.666c0 12.199-6.778 23.166-17.689 28.622L352 374.112V128h32c17.645 0 32 14.355 32 32v162.334zM192 144v224c0 8.837-7.164 16-16 16s-16-7.163-16-16V144c0-8.837 7.164-16 16-16s16 7.163 16 16zm-64 0v224c0 8.837-7.164 16-16 16s-16-7.163-16-16V144c0-8.837 7.164-16 16-16s16 7.163 16 16zm128 0v224c0 8.837-7.163 16-16 16s-16-7.163-16-16V144c0-8.837 7.163-16 16-16s16 7.163 16 16z" class=""></path></svg>
                </label>
            </nav>
            <input type="checkbox" id="nav-trigger" class="nav-trigger" />
            <div id="nav-menu" class="nav-menu">
                <aside>
                    <p class="menu-label">General</p>
                    <ul class="menu-list">
                        <li><a routerLink="/dashboard" routerLinkActive="is-active"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
                    </ul>
                    <p class="menu-label">Movies</p>
                    <ul class="menu-list">
                        <li><a routerLink="/movies" routerLinkActive="is-active"><i class="fa fa-video-camera" aria-hidden="true"></i> Movies</a></li>
                        <!--<li><a routerLink="/a" routerLinkActive="is-active">Premiere</a></li>-->
                        <!--<li><a routerLink="/aa" routerLinkActive="is-active">Next Release</a></li>-->
                    </ul>
                    <!--<p class="menu-label">Series</p>-->
                    <!--<ul class="menu-list">-->
                        <!--<li><a routerLink="/aaa" routerLinkActive="is-active">Series</a></li>-->
                        <!--<li><a routerLink="/aaaa" routerLinkActive="is-active">Premiere</a></li>-->
                        <!--<li><a routerLink="/aaaaa" routerLinkActive="is-active">Next Release</a></li>-->
                    <!--</ul>-->
                </aside>
            </div>
        </div>
        <div id="layout" class="layout">
            <div class="columns is-gapless">
                <div id="workspace">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</section>


<!--<div class="work-container">-->
<!--<div class="workspace-head">-->
<!--<nav class="breadcrumb" aria-label="breadcrumbs">-->
<!--<ul>-->
<!--<li class="is-active"><a href="#" aria-current="page">Dashboard</a></li>-->
<!--</ul>-->
<!--</nav>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="workspace-main">main</div>&ndash;&gt;-->
<!--<div class="workspace-main">main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/>main<br/></div>-->
<!--<div class="workspace-footer">foot</div>-->
<!--</div>-->

<!--<nav>-->
    <!--<div class="nav-wrapper">-->
        <!--<a href="#" class="brand-logo center">-->
            <!--<i class="material-icons">cloud</i>Dotnet Mob App</a>-->
        <!--<ul id="nav-mobile" class="right hide-on-med-and-down">-->
            <!--<li>-->
                <!--<a (click)="Logout()">Logout</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</nav>-->
<!--<div class="row" *ngIf="userClaims">-->
    <!--<div class="col s12 m7">-->
        <!--<div class="card">-->
            <!--<div class="card-content">-->
                <!--<span>Username :{{userClaims.UserName}}</span>-->
                <!--<br>-->
                <!--<span>Email : {{userClaims.Email}}</span>-->
                <!--<br>-->
                <!--<span>Full Name : {{userClaims.FirstName}} {{userClaims.LastName}}</span>-->
                <!--<br>-->
                <!--<span>Logged On : {{userClaims.LoggedOn}}</span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->