body{
    background: #0494C4;
}
/***********************/
/*** section ***********/
/***********************/
.section {
    padding: 0 !important;
    margin: 0 auto;
    max-width: 1400px !important;
    min-height: 100vh;
    display: grid;
    > .container:first-child {
        width: 1400px;
        max-width: 1400px !important;
        border: 1px solid rgba(33, 33, 33, 0.1);
        background: #f7f7f7;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 66px 1fr;
        grid-template-areas: "navbar" "layout";
    }
}
.static {
    z-index:2;
    position: fixed;
    /***********************/
    /*** navbar ************/
    /***********************/
    .navbar {
        grid-area: navbar;
        border-bottom: 1px solid rgba(33, 33, 33, 0.1);
        box-shadow: 0 2px 3px hsla(0,0%,7%,.1), 0 0 0 1px hsla(0,0%,7%,.1);
        height: 66px;
        max-width: 1400px;
        margin: 0 auto;
        z-index: 1;
        .nav-header {
            width: 270px;
            padding: 10px 0 0 15px;
            height: 66px;
            overflow: hidden;
        }
    }
    .navbar-fixed-top {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
    }
    /***********************/
    /*** nav-menu **********/
    /***********************/
    .nav-menu {
        display: grid;
        border-right: 1px solid rgba(33, 33, 33, 0.1);
        position: fixed;
        width: 270px;
        margin-left: 0;
        top: 66px;
        bottom: 0;
        background: #fff;
        aside {
            padding: 10px;
            .menu-list a.is-active {
                background-color: #0095c2;
            }
        }
    }
}
label[for="nav-trigger"] {
    display: none;
}
/***********************/
/*** layout ************/
/***********************/
.layout {
    display: grid;
    grid-area: layout;
    float: left;
    position:relative;
    margin-left: 270px;
    background: #f7f7f7;
    left: 0;
    #workspace {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 0 1fr;
    }
    #workspace .work-container {
        height: 100%;
        padding: 10px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto;
        grid-template-rows: 60px 1fr 60px;
        grid-template-areas: "workspace-head" "workspace-main" "workspace-footer";
    }
    .work-container .workspace-head {
        background: #fff;
        border: 1px solid rgba(33, 33, 33, 0.1);
        padding: 10px;
        grid-area: workspace-head;
    }
    .work-container .workspace-main {
        background: #fff;
        border: 1px solid rgba(33, 33, 33, 0.1);
        padding: 10px;
        grid-area: workspace-main;
    }
    .work-container .workspace-footer {
        background: #fff;
        border: 1px solid rgba(33, 33, 33, 0.1);
        padding: 10px;
        grid-area: workspace-footer;
    }
}

@media (max-width: 1024px) {
    .section{
        > .container:first-child{
            width: auto !important;
            margin: 0;
        }
    }
    .nav-menu {
        margin-left: -270px !important;
    }
    .layout{
        margin: 0;
    }
    .static .navbar .nav-header{
        margin-left: 40%;
    }
    label[for="nav-trigger"] {
        display: block;
        position: fixed;
        left: 15px;
        top: 10px;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }
    .nav-trigger:checked ~ .nav-menu {
        margin-left: 0 !important;
    }
}