<div class="work-container">
  <div class="workspace-head">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li class="is-active"><a href="#" aria-current="page">Movies</a></li>
      </ul>
    </nav>
  </div>
  <div class="workspace-main">main</div>
  <div class="workspace-footer">foot</div>
</div>