<div class="accountbg"></div>
<div class="wrapper-page">
    <div class="card">
        <div class="card-body">
            <h3 class="has-text-centered">
                <img src="./assets/img/logo_admin.png" height="30" alt="ManagedAdmin">
            </h3>
            <h4 class="has-text-centered has-text-grey m-t-15"><b>Sign In</b></h4>
            <div class="m-t-25">
                <form class="" #loginForm="ngForm" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" #UserName ngModel name="UserName" placeholder="Username" autocomplete="new-password" required>
                            <span class="icon is-small is-left">
                              <i class="fa fa-user-o"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="password" #Password ngModel name="Password" placeholder="Password" autocomplete="new-password" required>
                            <span class="icon is-small is-left">
                              <i class="fa fa-key"></i>
                            </span>
                        </div>
                    </div>
                    <div class="">
                        <button class="button" type="submit">Log In</button>
                    </div>
                </form>
            </div>
            <div *ngIf="isLoginError" class="red-text center error-message">
                <i class="material-icons">error</i> Incorrect username or password
            </div>
        </div>
    </div>
</div>