.accountbg {
  background: url("/assets/img/background_login.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-size: cover;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.wrapper-page {
  max-width: 460px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 50%;
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: .25rem;
  border: none;
  box-shadow: 1px 0 20px rgba(0,0,0,.05);
  .card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 3.25rem;
    h4 {
      color: #707070!important;
      font-size: 18px;
    }
    button{
      width: 100%;
      background: #0095c2;
      color: #fff;
      margin-top: 20px;
      margin-bottom: 1rem;
    }
    .field{
      margin-bottom: 1rem;
    }
  }
}